.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem{
    padding: 10px;
}

.dialogsItem .active{
    color: #ff0000;
}

.dialog{

}

.messages{
    padding: 10px;
}

.message{


}

a{
    text-decoration: none;
}
